<div class="card loginCard" >
    <div class="card-header">
        <h2>Log in</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <input type="text" class=
            "form-control" placeholder="Username" [(ngModel)] ="userName" />
        <div class="form-group">
        <input type="password" class= "form-control" placeholder="Password" 
        [(ngModel)]="password"/>
        
    </div>
    <div class="form-group">
        
    <button class="form-control btn btn-primary" (click)="login()">Login</button>
    </div>
        
    </div>


</div>
<!-- <div>
<h2>Log in</h2>
    <input type="text" placeholder="Username"/>
    <input type="password" placeholder="Password"/>
    <button>Login</button>
</div> -->
